* {
    padding: 0;
    margin: 0;
    --offset: #DAD7CD;
    --pistachio: #A3B18A;
    --light: #588157;
    --mid: #3A5A40;
    --dark: #344E41;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    top: 0;
    position: sticky;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: var(--white);
    background-color: black;
    opacity: 80%;
}

h1 button {
    font-size: 1.7rem;
    background-color: black;
    color: var(--white);
    border: none;
    font-weight: bold;
}

a {
    color: white;
    background-color: none;
}

a:visited {
    color: white;
}

h1 button:hover {
    cursor: pointer;
    color: var(--light);
    transition: all .3s ease;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}


nav button {
    font-size: 1.2rem;
    background-color: var(--purple);
    border-radius: 1rem;
    padding: 4px 30px 5px 30px;
    border: none;
    color: var(--white);
}

nav button:hover {
    cursor: pointer;
    background-color: var(--mid);
    color: var(--offset);
    transition: all .3s ease-in-out;
}

img {
    height: 20vh;
    width: 20vh;
}

.items-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 1vw;
    flex: 1;
    outline: 1px solid black;
    overflow: scroll;
}

.item {
    outline: .2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 7px;
    background-color: white;
    /* border-radius: 1rem; */
    gap: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.item-cart {
    display: flex;
    font-weight: bold;
    gap: 10px;
    align-items: center;
}

.item-cart div {
    font-size: 1.4rem;
}

.item-cart button {
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding: 0px 8px 0px 8px;
    background-color: var(--offset);
    border: 1px solid black;
    font-size: 1.2rem;

}

.item-cart button:hover {
    cursor: pointer;
    background-color: var(--light);
    transition: .3s ease all;
    color: white;
}

.items-checkout {
    display: grid;
    width: 80vw;
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    grid-template-rows: auto;
    gap: 5vw;
}

.option.selected {
    background-color: var(--light);
    color: white;
}



/* HOME PAGE */

.home-page {
    background-image: url('../assets/james-wheeler-HkzVSEK80cQ-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    flex: 1;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-page {
    color: var(--pistachio);
}

.center-content {
    font-size: 3rem;
    display: flex;
    color: var(--offset);
    flex-direction: column;
    opacity: 80%;
    padding: 20px;
    background-color: black;
    padding: 3rem;
    text-align: center;
    border: 3px solid var(--light);
}

.center-content h2 {
    opacity: initial;
}


.nav.selected {
    color: var(--light);
}

.heading-shop {
    display: flex;
    background-color: var(--dark);
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.shop-area {
    display: flex;
    width: 100vw;
    flex: 1;
    height: fit-content;
    overflow: scroll;
}

.options {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 10px;
}

.option {
    height: max-content;
    font-size: 1.3rem;
    background-color: white;
    border: none;
    padding: 10px 30px 10px 30px;
}

.option:hover {
    cursor: pointer;
    background-color: var(--light);
    color: white;
}

.options h3 {
    font-size: 2.4rem;
    border-bottom: 1px solid black;
}

.options ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option-li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a {
    text-decoration: none;
}

.cart-link {
    display: flex;

}

/* CHECKOUT */

.checkout-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex: 1;
    background-color: white;
    padding: 1rem;
    justify-self: center;
    align-items: center;
}

.loading {
    background: url('../assets/Iphone-spinner-2.gif');
    background-position: center center;
    background-repeat: no-repeat;
}